@charset "utf-8";
.main{
    width: 1020px;
    height: 600px;
    margin: auto;
    padding: 20px;
    background-color: #d3d1d1;
}
.box1{
    width: 300px;
    display: inline-block;
    background-color: #cac7c7;
}
.box2{
    width: 300px;
    display: inline-block;
    padding-left: 20px;
    background-color: #cac7c7;
    padding: 0px 10px;
   
}
.box3{
    width: 370px; 
    display: inline-block;
    padding-left: 20px;
    background-color: #cac7c7;
   
}
.hop1{
    background-color: rgb(182, 128, 48);
    padding: 0px 15px; 
}
.hop3{
    background-color: rgb(182, 128, 48);
    padding: 0px 15px;
}
.hop4{
    background-color: rgb(182, 128, 48);
    padding: 0px 15px;
} 
.hop1 h3{
    width: 100px;
    display: inline-block;
}
.hop1 p{
    width: 100px;
    display: inline-block;
}
.hop3 h3{
    width: 120px;
    display: inline-block;
}
.hop3 p{
    width: 100px;
    display: inline-block;
}
.hop4 h3{
    width: 131px;
    display: inline-block;
}
.hop4 p{
    width: 100px;
    display: inline-block;
}
.hinh2{
    display: inline-block;
}
.chu1{
    width: 200px;
    text-align: left;
    display: inline-block;
}
.hinh3{
    display: inline-block;
}
.chu2{
    width: 200px;
    text-align: left;
    display: inline-block;
}
.hinh4{
    display: inline-block;
}
.chu3{
    width: 200px;
    text-align: left;
    display: inline-block;
}
.hinh5{
    display: inline-block;
}
.chu4{
    width: 200px;
    text-align: left;
    display: inline-block;
}
.box3 p{
    padding: 10px 10px;
}
.hop5{
    width: 80px;
    height: 30px;
    background-color: rgb(126, 88, 31);   
    text-align: center;
}
