@charset "utf-8";
.main{
    width: 1200px;
    height: 400px;
    background-color: aqua;
    margin: auto;
}
.hop1 h3{
    width: 380px;
    height: 30px;
    text-align: center; 
}
.hop1 p{
    width: 380px;
    height: 370px;
    padding: 0px 10px;
}
.hop2 h3{
    width: 380px;
    height: 30px;
    text-align: center;
}
.hop2 p{
    width: 380px;
    height: 370px;
    padding: 0px 10px;
}
.hop3 h3{
    width: 370px;
    height: 30px;
    text-align: center;
}
.hop3 p{
    width: 370px;
    height: 370px;
    padding: 0px 10px;
}
.hop1{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 20px;
    height: 400px;
}
.hop2{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 20px;
    height: 400px;
}
.hop3{
    display: inline-block;
    background-color:  rgba(255, 255, 255, 0.74);
    border-radius: 20px;
    height: 400px;
}